/* Reset Css here */
/* Main css here */
/* Page Css here */
/* filter-header__titles */
/* filter__menu */
/* Data Table */
/* Single Product */
:root {
  --primary-color: #f0b95e;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.form-select {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid #e8e8e8;
  border-radius: 0;
}
.form-select:hover {
  border-color: #f0b95e;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-select:focus {
  border-color: #f0b95e;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #222;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.products__filter-header {
  -webkit-box-shadow: 0px 0px 13px rgba(34, 34, 34, 0.2509803922);
  box-shadow: 0px 0px 13px rgba(34, 34, 34, 0.2509803922);
}

.filter-header__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 270px 10px auto;
  grid-template-columns: 270px auto;
  padding-top: 20px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding-bottom: 20px;
}

.filter-header__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.filter-header__titles p {
  font-size: 18px;
  color: #222;
}

.filter__result {
  font-size: 24px;
  color: #222;
  font-weight: 500;
}

.filter__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  width: 100%;
}
.filter__menu .filter-by {
  width: 90px;
}
.filter__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-column-gap: 3px;
  -moz-column-gap: 3px;
  column-gap: 3px;
}
.filter__menu ul li {
  width: 100%;
}
.filter__menu .form-select {
  max-width: 300px;
  width: 100%;
  height: 45px;
}

.order__by-btn img {
  height: 45px;
  width: 45px;
}

.product__datatable {
  padding-top: 40px;
}

.datatable__filter ul {
  display: -ms-grid;
  display: grid;
  background: #f4f4f4;
  -ms-grid-columns: 300px 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 300px 1fr 1fr 1fr 1fr 1fr;
}
.datatable__filter ul li {
  padding: 20px;
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  border-right: 1px solid rgba(34, 34, 34, 0.1098039216);
}
.datatable__filter ul li span {
  display: block;
  height: 5px;
  width: 5px;
  border: 8px solid transparent;
  border-top-color: #000;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
.datatable__filter ul li:last-child {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.datatable__filter ul li:last-child span {
  display: none;
}
.datatable__filter ul li.title {
  padding-left: 70px;
  border-left: 1px solid rgba(34, 34, 34, 0.1098039216);
}

.single__product:nth-child(odd) ul.single__product-tab {
  background: #f4f4f4;
}
.single__product ul.single__product-tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 300px 1fr 1fr 1fr 1fr 1fr;
}
.single__product ul.single__product-tab li:not(:first-child) {
  padding: 15px 10px 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.single__product ul.single__product-tab li:not(:last-child) {
  border-right: 1px solid rgba(34, 34, 34, 0.1098039216);
}
.single__product .product__title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto;
  grid-template-columns: 60px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.single__product .product__title .open-close__icon {
  height: 100%;
  border-left: 1px solid rgba(34, 34, 34, 0.1098039216);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  font-size: 36px;
  font-weight: 600;
  cursor: pointer;
  color: #f0b95e;
  border-right: 1px solid rgba(34, 34, 34, 0.1098039216);
  position: relative;
}
.single__product .product__title .product__title-text {
  font-size: 15px;
  color: #222;
  font-weight: 500;
  padding: 10px;
}

.product__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 2px;
  -moz-column-gap: 2px;
  column-gap: 2px;
}
.product__rating img {
  height: 24px;
  width: 24px;
}

.product__document {
  border-right: 1px solid rgba(34, 34, 34, 0.1098039216);
}
.product__document img {
  height: 40px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.single__product-tab {
  position: relative;
  z-index: 1;
}
.single__product-tab .product__title .open-close__icon::after {
  position: absolute;
  content: "+";
}
.single__product-tab::after {
  position: absolute;
  left: 80px;
  top: 100%;
  height: 20px;
  border: 25px solid transparent;
  border-top-color: #f4f4f4;
  content: "";
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.single__product-tab.active .product__title .open-close__icon::after {
  position: absolute;
  content: "-";
}
.single__product-tab.active::after {
  opacity: 1;
  visibility: visible;
}

.single__product-details {
  display: none;
}

.single__product-detailsContent {
  padding: 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.product-details__thumb {
  padding-right: 20px;
}

.thumb-title {
  color: #222;
  font-size: 32px;
  padding-bottom: 20px;
  font-weight: 500;
}

.thumb-image {
  max-width: 560px;
  height: 414px;
}
.thumb-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.product-details__text {
  padding-left: 30px;
  border-left: 1px solid rgba(34, 34, 34, 0.1098039216);
}

.details__text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1098039216);
}

.btn-find__details {
  padding: 10px 30px;
  background: #222;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  display: block;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.btn-find__details:hover {
  background: rgba(0, 0, 0, 0.7215686275);
}

.details__text-content {
  padding-top: 20px;
}
.details__text-content h3 {
  font-size: 32px;
  padding-bottom: 20px;
  font-weight: 500;
}
.details__text-content p {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}
.details__text-content ul li {
  display: block;
  padding-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-left: 25px;
}
.details__text-content ul li::before {
  content: "";
  background: #f0b95e;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 8px;
}

@media screen and (max-width: 1200px) {
  .filter__result {
    font-size: 20px;
  }
  .filter-header__titles p {
    font-size: 16px;
  }
  .single__product ul.single__product-tab {
    -ms-grid-columns: 260px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 260px 1fr 1fr 1fr 1fr 1fr;
  }
  .single__product ul.single__product-tab li:not(:first-child) {
    padding: 15px 10px 12px;
    font-size: 14px;
  }
  .datatable__filter ul {
    -ms-grid-columns: 260px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 260px 1fr 1fr 1fr 1fr 1fr;
  }
  .datatable__filter ul li {
    padding: 15px 10px;
    font-size: 16px;
  }
  .datatable__filter ul li span {
    border-width: 6px;
  }
  .filter__menu .form-select {
    width: 100%;
    font-size: 14px;
    height: 40px;
  }
  .order__by-btn img {
    height: 40px;
    width: 40px;
  }
  .product__rating img {
    height: 20px;
    width: 20px;
  }
  .product__document img {
    height: 35px;
  }
  .details__text-content h3 {
    font-size: 28px;
  }
  .details__text-content p {
    font-size: 16px;
  }
  .details__text-content ul li {
    font-size: 16px;
    padding-left: 20px;
  }
  .thumb-title {
    font-size: 28px;
  }
  .thumb-image img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .btn-find__details {
    font-size: 18px;
  }
  .details__text-header .price {
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  .product__datatable {
    padding-top: 15px;
  }
  .product__datatable .container {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .datatable__container {
    width: 730px;
    height: 100%;
    padding: 20px 5px;
  }
  .filter-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    row-gap: 20px;
  }
  .product__rating img {
    height: 12px;
    width: 12px;
  }
  .single__product .product__title .product__title-text {
    font-size: 12px;
  }
  .single__product ul.single__product-tab li:not(:first-child) {
    font-size: 12px;
  }
  .datatable__filter ul li {
    font-size: 12px;
  }
  .details__text-content h3 {
    font-size: 20px;
  }
  .details__text-content p {
    font-size: 14px;
  }
  .details__text-content ul li {
    font-size: 14px;
    padding-left: 20px;
  }
  .thumb-title {
    font-size: 20px;
  }
  .btn-find__details {
    font-size: 16px;
  }
  .single__product-tab::after {
    border-width: 20px;
  }
}
@media screen and (max-width: 767px) {
  .filter__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
  }
  .filter__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 10px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .filter__menu .form-select {
    width: 100%;
    max-width: 100%;
  }
  .filter__menu .filter-by {
    font-size: 15px;
  }
  .order__by-btn {
    position: absolute;
    right: 0;
    top: -10px;
  }
  .single__product .product__title {
    -ms-grid-columns: 40px auto;
    grid-template-columns: 40px auto;
  }
  .single__product .product__title .open-close__icon {
    width: 40px;
    font-size: 30px;
  }
  .single__product ul.single__product-tab {
    -ms-grid-columns: 180px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr;
  }
  .datatable__filter ul {
    -ms-grid-columns: 180px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr;
  }
  .datatable__filter ul li.title {
    padding-left: 50px;
  }
  .filter__result {
    font-size: 18px;
  }
  .single__product-detailsContent {
    padding: 40px 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .product-details__text {
    padding-left: 0px;
    border-left: 0px;
    max-width: 360px;
  }
}